# Configure npm to reduce package size
production=true
# Skip optional dependencies
omit=optional
# Don't generate a package-lock file
package-lock=false
# Reduce output noise
loglevel=error
# Force npm to run at maximum concurrency
maxsockets=50
# Reduce npm progress output
progress=false
# Audit fix automatic security fixes
audit=false
# Allow legacy peer dependencies
legacy-peer-deps=true
# Strict peer dependencies
strict-peer-dependencies=false
# Auto install peers
auto-install-peers=true
# Node linker
node-linker=hoisted
# Shamefully hoist
shamefully-hoist=true
# Resolution mode
resolution-mode=highest
# Save workspace protocol
save-workspace-protocol=rolling 