# Configure npm to reduce package size
production=true
# Skip optional dependencies
omit=optional
# Don't generate a package-lock file
package-lock=false
# Reduce output noise
loglevel=error
# Force npm to run at maximum concurrency
maxsockets=50
# Reduce npm progress output
progress=false
# Audit fix automatic security fixes
audit=false 